Django==5.2.7
django-unfold==0.93.0
django-cors-headers==4.4.0
django-environ==0.11.2
django-extensions==4.1
django-multi-email-field==0.8.0
djangorestframework==3.16.0
psycopg[binary]==3.2.3
dj-database-url==2.2.0
whitenoise==6.7.0
gunicorn==22.0.0
Pillow==10.4.0
python-decouple==3.8
python-dotenv==1.0.1
Unidecode==1.4.0
openpyxl==3.1.5
reportlab==4.5.0
xhtml2pdf==0.2.16
qrcode==8.2
requests==2.32.3

# Auth + LGPD nivel 2
django-allauth[socialaccount]==65.3.0
django-otp==1.5.4
django-axes==7.0.0
